#header{
    background-image: url("cabecera1.png");
    width:1902px;
    height:136px;
    margin: 1px;
    border-radius: 20px;

}

body {
  font  : 21px sans-serif;
  padding: 60px;
  background-image: url("fondo1.png");

}
#boton{
    background-color: #141c24;
    font-family : 21px sans-serif;
    color: #bab8ad;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

h1,h2,td,p{
  color: #bab8ad;
}
div{
  background-color:#141c24;
  width:800px;
  margin: 5px;
  border-radius: 50px;
}

#enviado{
  background-image: url("enviadoBueno.png");
}